@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body id="homeBody">
    <div class="text-center">
        <h1 id="homeH1" class="display-4">WebApp with database</h1>
        <p class="homeParagraphs">Application uses msSql database with one table - clients.</p>
        <p class ="homeParagraphs">Application allows to create, read, update and delete records</p>
        <p class ="homeParagraphs">Check my other projects!<a href="https://github.com/DamianGre">Github</a>.</p>
    </div>
</body>
