@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body id="privacyBody">
    <h1 id="privacyH1">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
    <p class="privacyParagraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
    </p>
    <p class="privacyParagraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
    </p>
    <p class="privacyParagraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem illum laboriosam saepe. Libero repudiandae at eum omnis, excepturi voluptas?
    </p>
</body>



